<h3Previous Ignite</h3>
<h3>Full video of the 2009 Ignite</h3>
<object width="400" height="244"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6164646&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6164646&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="244"></embed></object><p><a href="http://vimeo.com/6164646">O'Reilly IGNITE - Chennai</a> from <a href="http://vimeo.com/user1704152">CS Shyam Sundar</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<h3>Pictures from the previous ignite event</h3>	
<embed type="application/x-shockwave-flash" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" width="600" height="400" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fkunday%2Falbumid%2F5459246594925960705%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCKPTj7-nkuO2gAE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>

