<h3>Ignite Chennai 2010 a roaring success</h3>
We had a variety of speakers ranging from How not to run an NGO, Entrepreneur vs Love to Art of becoming rich. Here is the full list of speakers and topics.
<h3>Speakers Who Made the difference</h3>
<h5>Presentation Links to come soon!</h5>
<ul>
	<li>Rahool Saksena on Spark</li>
	<li><a href="http://www.scribd.com/doc/30712111/2-Harini-TW-Ragas-and-Emotions">Harini S Raghavan on Ragas & Emotions</a></li>
	<li><a href="http://www.scribd.com/doc/30712965/Kiruba-Shankar-Unconfernces">Kiruba Shankar on Unconferences</a></li>
	<li><a href="http://www.scribd.com/doc/30712119/3-Renita-Rajan-To-Run-or-to-Not-to-Run-an-NGO">Renita Rajan on How not to run NGO</a></li>
	<li><a href="http://www.scribd.com/doc/30712142/4-Shailini-Rejuvenation">Shailni S on Rejuvination</a></li>
	<li><a href="http://www.scribd.com/doc/30712154/5-Harini-Shekar-Sustaining-Customer-Delight">Harini Shekar on Sustaining Customer Delight</a></li>
	<li><a href="http://www.scribd.com/doc/30712253/6-ShivaRam-What-Makes-a-Great-Marketer">Shiv Ram on What Makes a Great Marketer ?</a></li>
	<li><a href="http://www.scribd.com/doc/30712288/7-Vijaya-Vaishnavi-Living-With-Piracy">Vijaya Vaishnavi on Living with Piracy</a></li>
	<li><a href="http://www.scribd.com/doc/30712328/8-Kumuda-Gururao-Social-Media-Learning-CRM-Marketing">Dr Kumuda Gururao on Social Media Learning CRM Marketing</a></li>
	<li><a href="http://www.scribd.com/doc/30712443/9-Ramanan-Jag-Anna-Than-What-I-Learnt-Managing-Software-Projects">Ramanan Jagannathan on  What I Learnt Managing Software Projects</a></li>
	<li><a href="http://www.scribd.com/doc/30712533/10-Jananee-Ramakrishnan-A-Focused-Smooth-Drive-to-Fulfill-Dream">Jananee Ramakrishnan on A focused smooth drive to fulfill dream</a></li>
	<li><a href="http://www.scribd.com/doc/30712553/11-Ramasubramanian-Entrepreneurship-and-Love">Ramasubramanian on Entrepreneurship and Love</a></li>
	<li><a href="http://www.scribd.com/doc/30712608/12-Anand-Ratnasabapathy-HowtobeInsaneSpeaker">Anand Ratnasabapathy on How to be Insane Speaker</a></li>
	<li><a href="http://www.scribd.com/doc/30712684/13-Ajay-Augustine-Empowering-Warriors">Ajay Augustine on  Empowering Warriors</a> </li>
	<li><a href="http://www.scribd.com/doc/30712716/14-DrMohammedShahid-Four-Act-Tragedy">Dr Mohammed Shahid on Four Act Tragedy</a> </li>
	<li><a href="http://www.scribd.com/doc/30712727/15-Jayakrishna-Venkatesh-CRM-With-Text-Analytics-for-Public-Service-Organizations">Jayakrishna Venkatesh on Text Analytics</a></li>
	<li><a href="http://www.scribd.com/doc/30712738/16-Sairam-TW-Art-of-Becoming-Rich">Sairam on Art of Becoming Rich</a></li>
	<li><a href="http://www.scribd.com/doc/30712740/Sreevatsa-Why-Read-History">Sreevatsa on Why Read History</a></li>
	<li><a href="http://www.scribd.com/doc/30712802/18-Vikas-Happiness-Spice-With-Sugar">Vikas Soni on Happiness</a></li>
	<li><a href="http://www.scribd.com/19-S-Jayachandran-Temple-and-Its-Role-on-the-Society-Then-Now/d/30712807">S Jayachandran on Temple and its role in society</a></li>
	<li><a href="http://www.scribd.com/doc/30712819/20-Ashwin-Raghav-The-Eve-Effect">Ashwin Raghav on the eve effect</a></li>
	<li><a href="http://www.scribd.com/doc/30712829/21-Ashwin-Kumar-Success-Psychology">Ashwin Kumar on Success Pshycology</a> </li>
	<li><a href="http://www.scribd.com/doc/30712892/ravichander-Vasudhaiva-Kutumbakam">V.Ravichander on Vasudeiva Kudumbakam</a> </li>
	<li><a href="http://www.scribd.com/doc/30712923/23-SivakumarL-Evolving-Music-and-Dying-Melody">Sivakumar Loganathan on Music and dying melody</a> </li>
	<li><a href="http://www.scribd.com/doc/30712934/24-Nivash-Living-the-Moment">Nivash on living the moment</a></li>
</ul>
<h3>Pictures</h3>
The pictures of the event can be found at picasa <a href="http://picasaweb.google.com/j.arun.prakash/IgniteChennaiThoughtWorks">here</a>
<h3>Videos</h3>
Coming soon!