<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Ignite Chennai</title>
	<%= stylesheet_link_tag 'common' %>
	<%= stylesheet_link_tag 'jquery.tweet' %>
	<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js" type="text/javascript"></script> 
	<%= javascript_include_tag 'jquery.tweet'%>
</head>

<body>                
	<div id="banner">
		<div class="gray_shine">
			<h1>5 mins, 20 slides</h1>
		</div>
		<div class="ignite_chennai"></div>
		<div class="chennai_central"></div>
		<div class="tag_line">Enlighten us, but make it quick.</div>
		<ul class="menu">
            <li><a href="/" class="content_1">Home</a></li>
            <li><a href="/ignite_2009" class="content_2">Ignite 2009 Pictures</a></li>
	    <li><a href="/ignite_2010" class="content_2">Ignite 2010 Pictures & Videos</a></li>
        </ul>
        
	</div>
	<div id="orange_box" class="light_brown">
		<h1>Chennai <span class="dark_brown">Ignited</span></h1>
		<h2>once <span class="dark_brown">again!</span></h2>
		<div class="info">
			<ul>
				<li class="big"><span class="dark_brown">23</span> speakers...</li>
				<li class="big"><span class="dark_brown">100+</span> audience...</li>
			</ul>
			<%= link_to "Ignite 2010", ignite_2010_path , :class=>"watch" %>
			<div class="sub">The second edition of Ignite Chennai held on 23rd April, 2010 at ThoughtWorks turned out to be a massive success with an array of interesting speakers on topics ranging from <b>How not to run an NGO</b>,  <b>Entreprenuer vs Love</b> to  <b>Art of becoming rich</b>.</div>
		</div>
	</div>
	<div id="content_area">
		<div class="content">
			<div class="tweet">
				<div class="tweet_title">tweet tweet...</div>
				<div class="tweets_container"></div>
				<ul class="follow">
					<li>follow us...</li>
					<li class="twitter"></li>
					<li class="facebook"></li>
				</ul>
			</div>
			<%=yield%>
		</div>
	</div>

	<div id="overlay">
		<div class="registration-box">
			<div class="content">
				<h1>register yourself</h1>
				<div class="errors">
					<span class="strong">There were problems with the following fields:</span>
					<ul class="error_list">
						<li>Name can't be blank</li>
						<li>Company name can't be blank</li>
						<li>Type of attendee can't be blank</li>
					</ul>
				</div>
				<form>
					<ul>
						<li>
							<span>First Name *</span>
							<input type="text" />
						</li>
						<li class="no-right-margin">
							<span>Last Name *</span>
							<input type="text" />
						</li>
						<li>
							<span>Company Name *</span>
							<input type="text" />
						</li>
						<li class="no-right-margin">
							<span>E-Mail *</span>
							<input type="text" />
						</li>
						<li>
							<span>I am attending this event as a *</span>
							<select>
								<option value="">Please Select</option>
								<option value="">Listener</option>
								<option value="">Presenter</option>
							</select>
						</li>
						<li class="no-right-margin">
							<span>Phone No:(optional)</span>
							<input type="text" />
						</li>
						<li>
							<span>How did you know about this event? *</span>
							<select>
								<option value="">thoughtworker.com</option>
								<option value="">Public posters</option>
								<option value="">Email</option>
								<option value="">Facebook/Twitter</option>
								<option value="">Other Social Websites</option>
								<option value="">Blogs</option>
								<option value="">Friends</option>
							</select>
						</li>
					</ul>
				</form>
				<div class="submit"></div>
				<a href="javascript: void(0);" class="cancel">Cancel</a>
			</div>
		</div>
	</div>
</body>
<script type='text/javascript'>
$(document).ready(function(){
	$(".tweets_container").tweet({
		username: "ignitechennai",
		join_text: "auto",
		avatar_size: 32,
		count: 3,
		auto_join_text_default: "we said,", 
		auto_join_text_ed: "we",
		auto_join_text_ing: "we were",
		auto_join_text_reply: "we replied to",
		auto_join_text_url: "we were checking out",
		loading_text: "loading tweets..."
	});
	$('#one_line_abstract').hide();
	$('.twitter').click(function() {
		window.location.href = "http://twitter.com/ignitechennai";
	});
	$('.facebook').click(function() {
		window.location.href = "http://www.facebook.com/group.php?gid=367725998723";
	});
	
	$("#registration_type_of_attendee").change(function() 
	{ 
		var message_index 

		message_index = $("#registration_type_of_attendee").val(); 
		if (message_index == "Presenter") 
		$("#one_line_abstract").show();
		else
		$("#one_line_abstract").hide();
	});
});
</script>
<script type="text/javascript">
try {
	var pageTracker = _gat._getTracker("UA-6749423-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</html>
